@charset "UTF-8";
@font-face {
    font-family:Vina ;
    font-family:Anton;
    src: url(fontes/VinaSans-Regular.ttf);
    src: url(fontes/Anton-Regular.ttf);
}
/* CORES PARA A PAGINA:
   -#5372FF
   -#54A9FF
   -#3A2E8A
*/
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor3:#3A2E8A;
    --cor2:#54A9FF;
    --cor1:#5372FF;
    --borda:1px solid black;
}
header{
    background-color: var(--cor2);
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
h1{
    font-size: 2em;
    padding-left: 20px;
    color: white;
    width: 176px;
    text-shadow: 3px 2px 9px rgba(0, 0, 0, 0.496);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.left-text{
    padding-left: 10px;
    width: 175px;
    height: 20px;
    text-shadow: 3px 2px 9px rgba(0, 0, 0, 0.496);
    font-family:Anton;
    font-weight: normal;
    top: -10px;
    position: relative;
    color: white;
}
.right-text{
    height: 20px;
    max-width: 200px;
    text-shadow: 3px 2px 9px rgba(0, 0, 0, 0.496);
    font-family:Anton;
    font-weight: normal;
    color: white;
}
nav{
    border: var(--borda);
    display: flex;
    justify-content: center;
    padding: 2px 5px;
    margin-bottom:5px;
    background-color:var(--cor2);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.286);
}
.ancoras{
    background-color: rgba(255, 255, 255, 0.43);
    padding: 2px 6px;
    outline-color: rgb(0, 0, 0);
    outline-style: auto;
    outline-width: initial;
    display: flex;
    justify-content: space-around;
    width: 220px;
}
.ancoras >a{
    color: white;
    text-decoration: none;
}
.ancoras >a:hover{
    color:black;
    text-decoration: underline;
}
#whats{
    color: rgb(72, 238, 72);
    text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.34);
}
#insta{
    color: #f101f7;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.416);
}
body{
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--cor1);
}
main{
    border-radius: 3px;
    border: var(--borda);
    margin: auto;
    margin-bottom: 5px;
    max-width: 745px;
    padding-top: 15px;
    background-color:#3a2e8a88;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.285);
}
.imagem{
    display: block;
    margin: auto;
    max-width: 645px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.464);
}
img{
    display: block;
    max-width: 100%;
    margin: auto;
    border: 1px solid black;
}
.dot{
    max-width: 100px;
    display: block;
    margin: auto;
    font-size: 50px;
    line-height: 0;
    margin-bottom: 35px;
}
article{
    border-radius: 3px;
    background-color:var(--cor2);
    margin: auto;
    margin-bottom: 25px;
    max-width: 610px;
    padding: 15px 15px 8px 15px;
    border: 1px solid black;
    box-shadow: 4px 5px 13px rgba(0, 0, 0, 0.384);
}
article>p{
    max-width: 416px;
    display: block;
    margin: auto;
    text-align: center;
    text-indent: 5px;
    padding-bottom: 5px;
    color: white;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.541);
    font-family: Anton;
}
section{
    border-radius: 3px;
    border: 1px solid black;
    outline: auto;
    max-width: 210px;
    margin: auto;
    background-color: #3c72a838;
}
section>a{
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
    margin: auto;
    text-decoration: none;
    color: black;
    width: 186px;
}
section>a:hover{
    text-decoration: underline;
    color:white;
}
.whats:before{
    content: ""; /* Isso é necessário para usar o :before */
    display: inline-block; /* Isso garante que a imagem seja exibida ao lado do texto */
    width: 25px; /* Largura da imagem */
    height: 25px; /* Altura da imagem */
    background: url('imagens/whats-icon.png') no-repeat; /* URL da imagem que você deseja usar */
    background-size: 100%; /* Redimensionar a imagem para caber no espaço */
    margin-right: 8px;
    vertical-align: middle;
}
.whats{
    color: rgb(72, 238, 72);
    text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.208);
}

